* {
  margin: 0;
  padding: 0;
}

.body {
  width: 70%;
  border: 1px solid #000000;
  margin: auto;
  text-decoration: none;
}

.plainText {
  text-decoration: none;
}

.plainList {
  list-style: none;
}

.newsSection {
  width: 60%;
  background-color: #e1eef3;
  margin: auto;
  text-align: left;
}

.newsSection .newsWrap .newsList {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.newsSection .newsWrap .newsList li:first-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  border: solid 1px #cfdbe0;
  margin: 3px;
}

.newsSection .newsWrap .newsList li:first-child .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsSection .newsWrap .newsList li:first-child .card img {
  width: 66%;
}

.newsSection .newsWrap .newsList li {
  border: solid 1px #cfdbe0;
  margin: 1px;
  padding: 3px;
}

.newsSection .newsWrap .newsList li img {
  width: 100%;
}

.newsSection .newsWrap .newsList li .card_content {
  color: #000000;
  padding: 3px 10px;
}

.newsSection .newsWrap .newsList li .card_content .date {
  font-size: 15px;
}

.newsSection .newsWrap .newsList li .card_content .title {
  font-size: 20px;
  padding: 35px 0;
}

@media only screen and (max-width: 1200px) {
  body {
    background-color: lightgreen;
  }
  .newsSection {
    width: 70%;
  }
  .newsSection .newsWrap .newsList {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .newsSection .newsWrap .newsList li:first-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  .newsSection .newsWrap .newsList li:first-child .card {
    display: block;
  }
  .newsSection .newsWrap .newsList li:first-child .card img {
    width: 100%;
  }
}

@media only screen and (max-width: 576px) {
  body {
    background-color: lightgreen;
  }
  .newsSection {
    width: 100%;
  }
  .newsSection .newsWrap .newsList {
    display: block;
  }
  .newsSection .newsWrap .newsList li:first-child .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .newsSection .newsWrap .newsList li:first-child .card img {
    width: 50%;
  }
  .newsSection .newsWrap .newsList .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .newsSection .newsWrap .newsList .card img {
    width: 50%;
    height: auto;
  }
}

/*
.newsSection {
	width: 50%;
	background-color: #e1eef3;
	margin: auto;
	text-align: left;
	.newsWrap {
		width: 100%;
		display: table; //see article about table-layout: https://developer.mozilla.org/en-US/docs/Web/CSS/table-layout
		table-layout: fixed; // see table-layout example at https://codepen.io/ericjen01/pen/OJQZKrM

		.newsList {
			display: flex;
			flex-wrap: wrap; //flex-wrap to ensure new contents goes to the next row if out of space
			li:first-child {
				// first child of the list picked out and set as a large  main icon
				width: 100%;
				border: solid 1px #cfdbe0;
				margin: 3px;
				.card {
					display: flex;
					img {
						width: 66%;
					}
				}
			}
			li {
				width: 30%;
				height: 100%;
				border: solid 1px #cfdbe0;
				margin: 1px;
				padding: 5px;

				.card {
					img {
						width: 100%;
					}
					.card_content {
						padding: 10px;
						color: #000000;
						display: flex;
						flex: 1;
						flex-grow: 1;
						flex-direction: column;

						.title {
							font-size: 20px;
							padding-bottom: 20px;
							flex-grow: 2;
						}
						.date {
							font-size: 15px;
							flex-grow: 2;
	
						}
					}
				}
			}
		}
	}
}*/
/*# sourceMappingURL=style.css.map */